body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
    overflow: hidden;
    background-color: #567189;
}

.sect1 {
    margin: 5% auto;
}

.btn-txt {
    font-size: clamp(0.5vw, 3vw, 1rem);
}

.myButton {
    max-width: 30%;
    background-color: #cfb997;
    border-radius: 28px;
    margin: 0 auto;
    border: 5px solid #00425a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 2rem;
    font-size: 1em;
    text-decoration: none;
    min-width: 30vw;
}

.myButton:hover {
    box-shadow: -7px 7px 0px 0px #eee3cb;
    transition: box-shadow 0.4ss ease-in-out;
}

.myButton:active {
    top: 1px;
    position: relative;
}

.medidas {
    display: flex;
    width: 100%;
}

.medida {
    border-radius: 10%;
    height: 5%;
    margin: 5% 0;
    background-color: #cfb997;
    display: block;
    text-align: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#list {
    display: none;
}

i {
    margin: 1% 0 0 1%;
    font-size: 2rem;
}

#logo {
    size: 5rem;
}

#st {
    width: 5rem;
}

ul {
    display: none;
    padding: 0;
    display: flex;
    list-style: none;
    width: 100vw;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
}

#medida1 {
    display: none;
}
#medida2 {
    display: none;
}

#medida3 {
    display: none;
}
p {
    margin: 0 auto;
    width: 70%;
    background-color: #cfb997;
    padding: 5%;
    border-radius: 20px;
    font-size: 1.3em;
}

.secM #medida3 p {
    background-color: #d7c0ae;
}

.secM #medida2 p {
    background-color: #967e76;
}

* {
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
    padding: 0;
}

.nav-section {
    text-align: center;
    padding: 0.5rem;
    border-left: solid;
    border-right: solid;
    border-left-color: #fff;
    margin: 0;
}

#med2 {
    background-color: #967e76;
}

#med3 {
    background-color: #d7c0ae;
}

.secM {
    margin: 10% 0 0 0;
}

footer {
    background-color: black;
    width: 100%;
    bottom: 0;
    position: absolute;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.pj_img_div{
    width: 50%;
}
.pj_img{
    border-radius: 15px;
    max-width: 100%;
}
h3{
    width: 50%;
}
.sec_pj{
        display: flex;
        width: 100vw;
        height: 70%;
}

.pj_intro{
    display: inline;
    position:relative;
    display: flexbox;
}